<section class="container">

  <h3>Shop our featured collection</h3>

  <div class="row">

    <div *ngFor="let product of products">
      <div class="col-xs-12 col-md-3">

        <div class="productContent">

          <img src="../../../assets/productImgs/{{ product.filename }}">
          <p>{{ product.name }}</p>
          <p>{{ product.price | currency:'USD' }}</p>
          <button class="btn btn-lg" (click)="addProductCart(product)">Add to cart</button>

        </div>

      </div>
    </div>

  </div>

</section>
